
@mixin action_button {
    width: 100px;
    height: 50px;
    color: white;
    font-size: 1.3em;
    background-color: #e01563;
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
    outline: 0;
    &:hover {
        opacity: 0.8;
    }
}

$preview_width: 300px;
$preview_height: 300px;

html, body {
    padding: 0;
    margin: 0;
    background-color: #493c4b;
}

#loading_container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: none;

    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 150px;
        height: 150px;
        top: calc((100% - 150px)/2);
        left: calc((100% - 150px)/2);
        background-color: white;
        border-radius: 5px;
        box-sizing: border-box;
    }

    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        top: calc((100% - 50px)/2);
        left: calc((100% - 50px)/2);
        border-radius: 50px;
        border: 4px solid #3eb991;
        border-right: 4px solid transparent;
        box-sizing: border-box;
        animation: rotate 1s infinite linear;
    }

    @keyframes rotate {
       0% {
           transform: rotate(0deg);
       } 

       100% {
           transform: rotate(360deg);
       }
    }


}


#slack_channel_area {
    margin-bottom: 50px;
}

.photo_preview_area {
    display: inline;
    &::after {
        display: block;
        content: '';
        clear: both;
        margin-bottom: 50px;
    }

    #photo_preview {
        width: $preview_width;
        height: $preview_height;
        border: 2px dashed #caccd1;
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        position: relative;

        .photo_preview_text {
            color: #caccd1;
            margin-bottom: 50px;
        }

        label {
            color: white;
            padding: 20px;
            margin-top: 5px;
            background: #3eb991;
            border-radius: 5px;
            &:hover {
                opacity: 0.8;
            }

            #photo_select {
                display: none;
            }
        }

        .photo_preview_img {
            position: absolute;
            display: none;
            left: 0;
            top: 0;
            background-color: white;

            .photo_preview_img_container {
                position: relative;
                width: $preview_width;
                height: $preview_height;

                #photo_preview_img_data {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                span {
                    height:100px;
                    width:100px;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    background-color: white;

                    &#photo_preview_img_close {
                        border-radius:50px;
                        -webkit-border-radius:50px;
                        -moz-border-radius:50px;
                        border:4px solid #333;
                        width:32px;
                        height:32px;

                        &:hover {
                            opacity: 0.8;
                        }

                        &::before, &::after {
                            content:'';
                            height:6px;
                            width:24px;
                            display:block;
                            background:#333;
                            border-radius:10px;
                            -webkit-border-radius:10px;
                            -moz-border-radius:10px;
                            position:absolute;
                            top:12.5px;left :4px;
                            transform:rotate(-45deg);
                            -webkit-transform:rotate(-45deg);
                            -moz-transform:rotate(-45deg);
                            -o-transform:rotate(-45deg);
                            -ms-transform:rotate(-45deg);
                        }

                        &::after{
                            transform:rotate(45deg);
                            -webkit-transform:rotate(45deg);
                            -moz-transform:rotate(45deg);
                            -o-transform:rotate(45deg);
                            -ms-transform:rotate(45deg);
                        }
                    }

                }

            }

        }
   }
}

.upload_button {
    @include action_button;
}

#upload_form {
    margin-bottom: 100px;
}

#upload_slack_channel_id {
    text-decoration: none;
    height: 60px;
    width: 200px;
    outline: none;
    font-size: 1.3em;
    border: 1px solid #caccd1;
}

#header {
    background-color: #251e26;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;

    .title {
        color: white;
        font-size: 1.3em;
        float: left;
    }

    .header-navigation {
        float: right;
        margin-top: -15px;
        &::after {
            content: '';
            clear: both;
            display: block;
        }

        ul {
            list-style: none;
            &::after {
                content: '';
                display: block;
                clear: both;
            } 

            li {
                float: left;

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

a {
    text-decoration: none;
    color: white;
}


.alert-success {
    background-color: #3eb991;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.alert-error {
    background-color: #e01563;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.validation-error {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #e01563;
    color:#e01563;

    li {
        list-style: none;
    }
}

.signup_area {
    height: 100px;
    text-align: center;
    padding: 10px;

    a {
        padding: 10px;

        &.signup_link {
            @include action_button;
        }
    }



}


#footer {
    margin-top: 50px;
    background-color: #f3f4f7;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#main {
    margin-top: 50px;
    margin-bottom: 100px;
}

.container {

    width: 80%;
    margin: 0 auto;
    padding-top: 10px;

    h1 {
        color: white;
    }

    #signup_form {
        margin: 50px;
        padding-top: 50px;
        padding-bottom: 50px;   

        .form_container {
            width: 50%;
            margin: 0 auto;
            padding: 50px;
            border: 1px solid #dddddd;

            input {
                outline: 0;
            }

            .form-row {

                padding-bottom: 15px;

                .form-column-label {
                    width: 30%;
                    height: 100%;
                    float: left;
                    position: relative;
                    color: white;

                    .inner {
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                }

                .form-column-value {
                    width: 70%;
                    height: 100%;
                    float: left;
                    input {
                        height: 100%;
                        width: 100%;
                        padding: 0 5px;
                    }
                }

                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }

                height: 40px;
            }
            
        }

        .form_footer {
            text-align: center;

            padding-top: 10px;
            padding-bottom: 10px;
            input#signup_button {
                @include action_button;
            }
        }
    }
}